@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.flex {
    display: flex;
}

.quebra {
    flex-wrap: wrap;
}

.flex-item-1 {
    flex: 1;
}

body {
    font-family: 'Nunito Sans';
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.container {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    border: 1px solid black;
}

.container div {
    color: #ffffff;
    margin: 10px;
    background-color: #5959e0;
    font-size: 18px;
}