@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.order1 {
    order: 1;
}

.order2 {
    order: 2;
}

.order3 {
    order: 3;
}

.order4 {
    order: 4;
}

.order-1 {
    order: -1;
}

.flex {
    flex: 1;
}

.column {
    flex-direction: column;
}

body {
    font-family: 'Nunito Sans';
}

h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.container {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    border: 1px solid black;
    display: flex;
}

.container div {
    color: #ffffff;
    margin: 5px;
    background-color: #5959e0;
    font-size: 18px;
}

.item {
    padding: 0 10px;
}

